@font-face{
    font-family: Satoshi;
    src: url("fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face{
    font-family: Satoshi;
    src: url("fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: normal;
}
@font-face{
    font-family: Satoshi;
    src: url("fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: medium;
}
@font-face{
    font-family: Satoshi;
    src: url("fonts/Satoshi-Light.otf") format("opentype");
    font-weight: 900;
}
@font-face{
    font-family: Satoshi;
    src: url("fonts/Satoshi-Black.otf") format("opentype");
    font-weight: 300;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    @apply font-satoshi;
}